.rnf-header {
  background-color: $colour-grey-darkest;

  &__logo {
    display: inline-block;
    padding: $dimension-padding 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    font-weight: bold;

    &:hover {
      color: white;
    }

    &:focus,
    &:active {
      color: $colour-theme-teal;
      background-color: transparent;
    }
  }
}
